body,html {
	height: 100%
}

body {
	position: relative;
	background: #fff;
	color:#545454;
	font-family: -apple-system,BlinkMacSystemFont,arial,Yu Gothic Medium, Yu Gothic,YuGothic,Meiryo,Hiragino Kaku Gothic ProN,sans-serif;
	font-size: 16px;
	line-height: 20px;
	word-wrap: break-word;
	-webkit-text-size-adjust: 100%;
	overflow-wrap: break-word;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
